.site {
  width: 780px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#main_nav_icon {
  color: orangered;
  font-size: 30px;
  float: left;
  line-height: 40px;
}

.nav_list {
  margin-left: 2em;
  line-height: 40px;
}

a.nav_link {
  font-size: 16px;
  color: #5c7de5;
}

#nav_group {
  float: right;
}

.project {
  height: 80px;
  font-size: 30px;
  line-height: 80px;
  margin-bottom: 1em;
  display: block;
  text-decoration: none;
}

#twitter_ipsum {
  color: black;
  margin-top: 0px;
}

#patchlearn {
  color: #F57676;
}

#happilabs {
  color: #00AEEF;
}

#wooly {
  padding-top: 2em;
  width: 200px;
}

#gmail_text {
  color: #d14836;
}

#gmail_text:hover {
  color: #16a765;
}

#github_text {
  color: #2d2d2d;;
}

#github_text:hover {
  color: #1B94E0;
}

.icon_image {
  padding-top: 2em;
  width: 48%;
}

#middle_icon {
  margin-left: 7.95px;
  margin-right: 7.95px;
}

#displayed_post_title {
  font-size: 30px;
  color: #25515F;
}


/*responsive */
@media all and (max-width: 560px ) {

  .site {
    width: 100%;
    margin: 5px
  }

  #main_nav_icon {
    width: 100%
  }

  #nav_group {
    float: left
  }

  .nav_list {
    margin-left: 0px;
    margin-right: 5px;
  }

  ul.posts span {
    display:block;clear:both;
  }

  ul.posts li {
    font-size: 20px;
  }

  #displayed_post_title {
    font-size: 25px;
    margin-top: 20px;
  }

  .site .header h1.title {
    margin-bottom: 0px;
  }

  #nav_group {
    margin-bottom: 20px;
  }

  .project {
    font-size: 20px;
  }
}

